/* Quiz.css */

.quiz {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f8f8f8;
}
.quiz img{
    max-width: 100%;
    margin-top: 5px;
    height: 20%;
}
.answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.answer-btn {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.answer-btn:hover {
    background-color: #2980b9;
}

/* Media queries for responsive design */
@media (max-width: 600px) {
    .quiz {
        max-width: 80%;
    }
}

@media (max-width: 480px) {
    .quiz {
        padding: 15px;
    }

    .answer-btn {
        padding: 8px;
    }
}